.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
  }
  
.fa-facebook:hover{
    color: white;
}
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram:hover{
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-twitter:hover{
      color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-pinterest:hover{
      color: white;
      border-bottom: none
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
